<html ng-app="helloApp">

<head>

  <title>Company Details</title>
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="CompanyController">

<div class="container">
 <form name="companyInformationForm" class="form-horizontal" role="form" ng-submit="addRow()" novalidate
       focus-on-empty>
     <fieldset>
     <legend>Company Details</legend>
     <div class="form-group">
        <label class="col-md-2 control-label">Company Name<span class="text-danger">*</span></label>
        <div class="col-md-4">
        <input type="text" class="form-control" name="companyName" ng-model="companyName" required/>
            <div class="error-container"
                 ng-show="companyInformationForm.companyName.$dirty && companyInformationForm.companyName.$invalid">
              <small class="text-danger" ng-show="companyInformationForm.companyName.$error.required">Please enter the Name.</small>
            </div>
        </div>
    </div>

     <div class="form-group">
         <label class="col-md-2 control-label">Employees<span class="text-danger">*</span></label>
         <div class="col-md-4">
             <input type="text" class="form-control" name="employees" ng-model="employees" required/>
             <div class="error-container"
             ng-show="companyInformationForm.employees.$dirty && companyInformationForm.employees.$invalid">
                    <small class="text-danger" ng-show="companyInformationForm.employees.$error.required">Please enter the Employees Head Count.</small>
         </div>
         </div>
     </div>

     <div class="form-group">
         <label class="col-md-2 control-label">HeadOffice<span class="text-danger">*</span></label>
         <div class="col-md-4">
             <input type="text" class="form-control" name="headOffice" ng-model="headOffice" required/>
             <div class="error-container"
                  ng-show="companyInformationForm.headOffice.$dirty && companyInformationForm.headOffice.$invalid">
                 <small class="text-danger" ng-show="companyInformationForm.headOffice.$error.required">Please enter the Head Office Center.</small>
             </div>
         </div>
     </div>
      <div class="form-group">
       <label class="col-md-2 control-label">Email</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="email" ng-model="email"
                   placeholder="Enter Email Address" ng-pattern="emailFormat"
                    />
            <div class="error-container"
                ng-show="companyInformationForm.$error.pattern">
                <small class="text-danger">Please enter valid email address.</small>
            </div>
        </div>
      </div>

         <div class="form-group">
             <label class="col-md-2 control-label">Established Date<span class="text-danger">*</span></label>
             <div class="col-md-4">
                 <p class="input-group">
                 <input type="text" class="form-control"
                        name="establishedDate"
                        ng-model="establishedDate"
                        data-date-Format datepicker-localdate
                        uib-datepicker-popup="{{format}}"
                        is-open="status.opened"
                        datepicker-options="dateOptions"
                        close-text="Close"
                        placeholder="MM/DD/YYYY"
                        required

                        style="z-index:0;"/>
                <span class="input-group-btn">
                <button style="z-index:0;"  type="button"
                        class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                 </p>
                 <div class="error-container"
                      ng-show="companyInformationForm.establishedDate.$dirty && companyInformationForm.establishedDate.$invalid">
                     <small class="text-danger" ng-show="companyInformationForm.establishedDate.$error.required">
                         Please select established Date.</small>
                     <small class="text-danger"
                            ng-show="companyInformationForm.establishedDate.$invalid" ng-if="!(companyInformationForm.establishedDate.$error.required)">
                         Please enter valid date in MM/DD/YYYY format. </small>
                 </div>
             </div>
         </div>

     <div class="form-group">
         <div style="padding-left:110px">
             <input type="submit" value="submit" class="btn btn-primary" />
             <button type="button" type="reset" class="btn btn-warning" ng-click="submit_cancel()">Cancel</button>
         </div>
     </div>
     </fieldset>
</form>
    <fieldset>

        <legend>Company Information</legend>
        <div class="table-responsive" style="margin-top:10px;">
        <table class="table table-striped">
            <tr>
                <th>Company Name</th>
                <th>Employees</th>
                <th>Head Office</th>
                <th>Email</th>
                <th>Established Date</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="company in companies">
                <td> {{ company.companyName }} </td>
                <td> {{ company.employees }} </td>
                <td> {{ company.headOffice }} </td>
                <td> {{ company.email }} </td>
                <td> {{ company.establishedDate }} </td>
                <td> <input type="button" value="remove" class="btn btn-primary" ng-click="removeRow(company.companyName)"/></td>
            </tr>
        </table>
        </div>

        <div class="row" style="text-align:center;">
            <uib-pagination  style="margin-top:0px;"
                             ng-show="tempUsers.length>0"
                             ng-model="currentPage"
                             total-items="tempUsers.length"
                             max-size="maxSize"
                             number-per-page="noOfPages"
                             items-per-page="entryLimit"
                             boundary-links="true">
            </uib-pagination >

    </fieldset>

</div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="js/ui-bootstrap-tpls.js"></script>
 <script src="bower_components/jquery/dist/jquery.js"></script>
 <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
 <script src="controllers/companyController.js"></script>
</body>
</html>
